body {
  margin: 0;
  font-family: "Heebo", sans-serif;
  padding-top: 80px;
}

.container {
  width: 1440px;
  max-width: 90%;
  margin: auto;
  padding: 0 16px;
}

ul {
  margin: 0;
  padding: 0;
}

header {
  background-color: #f0f0f0;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

header .logo {
  display: inline-block;
  font-size: 27px;
}

header .logo a {
  text-decoration: none;
  color: black;
}

header .logo .blue-dot {
  background-color: #d3b88c;
  width: 10px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 6px;
}

header nav {
  display: inline-block;
}

header nav ul li {
  display: inline-block;
}

header nav ul li.menu-icon {
  display: none;
}

header nav ul li.menu-icon img {
  vertical-align: middle;
  width: 24px;
  height: auto;
}

header nav ul li a {
  color: #3e3e3e;
  font-size: 15px;
  letter-spacing: 0.37px;
  margin-right: 24px;
  text-decoration: none;
}

header nav ul li a:hover {
  color: #3e50e5;
}

header nav ul li:last-of-type a {
  margin-right: 0;
}

/* HERO SECTION */

section.hero {
  position: relative;
}

section.hero img {
  width: 100%;
  height: auto;
  filter: blur(0.5px);
}

section.hero #slider {
  width: 100%;
  /* max-width: 500px; */
  height: 40vw;
  /* max-height: 150px; */

  position: relative;
}

section.hero #slider img {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;

  object-fit: cover;

  transition: opacity 800ms;
}

section.hero #slider img.selected {
  opacity: 1;
}

.hero-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.hero-content .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.hero-content h1 {
  max-width: 495px;
  color: white;
  font-size: 100px;
  letter-spacing: 1.25px;
  line-height: 56px;
  margin-bottom: 16px;
  margin-top: 0;
  font-weight: bold;
}

.hero-content h1 p {
  max-width: 518px;
  color: white;
  font-weight: 300;
  font-size: 17px;
  letter-spacing: 0.5px;
  line-height: 28px;
  margin-bottom: 10px;
  margin-top: 0;
  margin-left: 5%;
}

.hero-content p {
  max-width: 518px;
  color: white;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 28px;
  margin-bottom: 21px;
  margin-top: 0;
  margin-left: 1%;
}

.hero-content button {
  height: 50px;
  width: 220px;
  max-width: 100%;
  border-radius: 92px;
  background-color: #4e6e5d;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  line-height: 24px;
  text-align: center;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.hero-content button:hover {
  color: black;
  background-color: #e2e8c0;
  border: 1px solid #8896ab;
}

/* LEGAL SERVICES */

section.legal-services {
  padding-top: 80px;
}

section.legal-services h2 {
  text-align: center;
  font-size: 34px;
  letter-spacing: 0.85px;
  line-height: 42px;
  font-weight: normal;
  margin: 0 0 14px 0;
}

section.legal-services p {
  text-align: justify;
  font-size: 15px;
  letter-spacing: 0.3px;
  line-height: 21px;
  font-weight: normal;
  margin: 0 0 14px 0;
}

section.legal-services hr {
  border: none;
  border-top: 6px solid #d3b88c;
  width: 66px;
}

section.legal-services .services-slider {
  margin-top: 76px;
}

section.legal-services .container {
  display: flex;
  justify-content: space-around;
  padding: 0 8px;
}

section.legal-services .services-slider .service {
  border-radius: 8px;
  /* border: 1px solid #ddd; */
  width: 25%;
  text-align: center;
  margin: 0 8px;
  padding: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section.legal-services .services-slider .service img {
  max-width: 100%;
}

section.legal-services .services-slider .service .service-info {
  margin-top: 30px;
}

section.legal-services .services-slider .service .service-info .title {
  font-size: 30px;
  letter-spacing: 0.5px;
  line-height: 26px;
  margin-bottom: 20px;
  font-weight: normal;
  margin-top: 0;
}

section.legal-services .services-slider .service .service-info .title-long {
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 30px;
  margin-bottom: 20px;
  font-weight: normal;
  margin-top: 0;
}

section.legal-services .services-slider .service .service-info .info {
  letter-spacing: 0.5px;
  line-height: 26px;
  margin-bottom: 6px;
  font-weight: lighter;
}

/* NEWSLETTER SECTION */

section.newsletter {
  background-color: rgba(200, 200, 200, 0.18);
  max-width: 955px;
  text-align: center;
  padding: 72px 0;
  margin: 80px auto;
}

section.newsletter h3 {
  font-size: 24px;
  letter-spacing: 0.6px;
  line-height: 42px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 10px;
}

section.newsletter p {
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 42px;
  margin-top: 0;
  margin-bottom: 20px;
}

section.newsletter form {
  display: flex;
  justify-content: center;
}

section.newsletter form input {
  height: 50px;
  width: 326px;
  max-width: 80%;
  box-sizing: border-box;
  border-radius: 60px 0 0 60px;
  border: 1px solid #3e3e3e;
  border-right: none;
  color: #3e3e3e;
  font-size: 14px;
  letter-spacing: 0.35px;
  line-height: 21px;
  padding-left: 22px;
}

section.newsletter form button {
  height: 50px;
  width: 145px;
  max-width: 20%;
  box-sizing: border-box;
  border-radius: 0 60px 60px 0;
  background-color: #3e50e5;
  border: 1px solid #3e50e5;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.35px;
  line-height: 21px;
  text-transform: uppercase;
  cursor: pointer;
}

section.newsletter form button:hover {
  color: #3e50e5;
  border: 1px solid #3e50e5;
  background-color: #fff;
  border: 1px solid #3e3e3e;
}

/* FOOTER SECTION */

footer .bottom-nav {
  padding: 60px 0;
  background-color: #3e3e3e;
}

footer .bottom-nav .container {
  max-width: 955px;
  display: flex;
  justify-content: space-evenly;
}

footer .bottom-nav ul {
  list-style: none;
}

footer .bottom-nav ul li a {
  color: white;
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 10px;
  text-decoration: none;
  display: block;
}

footer .bottom-nav ul li a:hover {
  color: #3e50e5;
}

footer .bottom-nav ul li.list-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 20px;
  color: white;
}

footer .copyright-text {
  color: white;
  background-color: #2b2b2b;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 22px;
}

/* ABOUT US*/

section.about-us {
  padding-top: 80px;
}

section.about-us h2 {
  text-align: center;
  font-size: 34px;
  letter-spacing: 0.85px;
  line-height: 42px;
  font-weight: normal;
  margin: 0 0 14px 0;
}

section.about-us p {
  text-align: justify;
  font-size: 15px;
  letter-spacing: 0.3px;
  line-height: 21px;
  font-weight: normal;
  margin: 0 0 14px 0;
}

section.about-us hr {
  border: none;
  border-top: 6px solid #d3b88c;
  width: 66px;
}

section.about-us .container {
  display: flex;
  padding: 0 8px;
}

/* ABOUT US FIRST OFFICE PART */
section.about-us .about-us-part .first-office-img {
  border-radius: 8px;
  /* border: 1px solid #ddd; */
  width: 25%;
  text-align: center;
  margin: 0 8px;
  padding: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section.about-us .about-us-part .first-office-img img {
  max-width: 100%;
}

section.about-us .about-us-part .first-office-info {
  border-radius: 8px;
  /* border: 1px solid #ddd; */
  width: 50%;
  text-align: center;
  margin: 0 8px;
  padding: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
}

section.about-us .about-us-part .first-office-info .title {
  font-size: 20px;
  letter-spacing: 0.5px;
  text-align: left;
  line-height: 26px;
  margin-bottom: 20px;
  font-weight: normal;
  margin-top: 0;
}

section.about-us .about-us-part .first-office-info .info {
  letter-spacing: 0.5px;
  line-height: 26px;
  margin-bottom: 6px;
  font-weight: lighter;
}

/* ABOUT US MONTREAL PART */

.montreal-img img {
  /* border: 1px solid #ddd; */
  width: 300px;
  height: 400px;
  text-align: center;
  position: relative;
  margin-left: 200px;
  display: flex;
  justify-content: space-between;
}

.montreal-info {
  border-radius: 8px;
  /* border: 1px solid #ddd; */
  width: 50%;
  text-align: center;
  margin: 0 8px;
  padding: 40px;
  position: relative;
  left: 140px;
  display: flex;
  flex-direction: column;
}

section.about-us .about-us-part .montreal-info .title {
  font-size: 20px;
  letter-spacing: 0.5px;
  text-align: right;
  line-height: 26px;
  margin-bottom: 20px;
  font-weight: normal;
  margin-top: 0;
}

section.about-us .about-us-part .montreal-info .info {
  letter-spacing: 0.5px;
  line-height: 26px;
  margin-bottom: 6px;
  font-weight: lighter;
}

/******************************************************
************** CSS MEDIA QUERIES **********************
******************************************************/

/* Start of Design for Small Desktop */
@media screen and (max-width: 1440px) {
  .container {
    width: 1180px;
  }

  body {
    padding-top: 70px;
  }

  header {
    height: 70px;
  }

  .hero-content h1 {
    font-size: 44px;
    letter-spacing: 1.1px;
    line-height: 50px;
    margin-bottom: 12px;
  }

  .hero-content p {
    font-size: 18px;
    letter-spacing: 0.45px;
    line-height: 26px;
    margin-bottom: 12px;
  }

  .hero-content button {
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: 21px;
  }

  section.best-sellers {
    padding-top: 70px;
  }

  section.best-sellers h2 {
    line-height: 38px;
    margin: 0 0 16px 0;
  }

  section.best-sellers .product-slider {
    margin: 70px;
  }

  section.best-sellers .product-slider .product-info .categories {
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 30px;
  }

  section.best-sellers .product-slider .product-info .title {
    font-size: 16px;
  }

  section.best-sellers .product-slider .product-info .price {
    font-size: 24px;
    letter-spacing: 0.6px;
    margin-bottom: 12px;
  }

  section.best-sellers .product-slider .product-info .price .original-price {
    font-size: 14px;
    letter-spacing: 0.35px;
  }

  section.best-sellers .product-slider .product-info button {
    height: 40px;
    width: 180.24px;
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: 16px;
  }

  section.newsletter {
    width: 881px;
    max-width: 100%;
    padding: 50px 0;
    margin: 70px auto;
  }

  section.newsletter h3 {
    font-size: 22px;
    letter-spacing: 0.55px;
    line-height: 42px;
  }

  section.newsletter p {
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: 42px;
    margin-bottom: 15px;
  }

  section.newsletter form input {
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 18px;
  }

  section.newsletter form button {
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 18px;
  }

  footer .bottom-nav {
    padding: 50px 0;
  }

  footer .bottom-nav .container {
    max-width: 90%;
  }

  footer .bottom-nav ul li a {
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: 22px;
  }

  footer .bottom-nav ul li.list-title {
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 26px;
    margin-bottom: 12px;
  }

  footer .copyright-text {
    height: 50px;
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: 22px;
    text-align: center;
  }
}
/* End of Design for Small Desktops */

/* Start of Design for Tablets */
@media screen and (max-width: 960px) {
  .container {
    max-width: 92%;
  }

  header .logo {
    font-size: 24px;
  }

  header nav ul li {
    display: none;
  }

  header nav ul li.menu-icon {
    display: inline-block;
  }

  .hero-content h1 {
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 46px;
  }

  .hero-content p {
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 24px;
  }

  .hero-content button {
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: 21px;
    width: 196px;
  }

  section.best-sellers {
    padding-top: 50px;
  }

  section.best-sellers h2 {
    font-size: 28px;
    letter-spacing: 0.7px;
    line-height: 38px;
    margin: 0 0 12px 0;
  }

  section.best-sellers .product-slider {
    margin-top: 48px;
  }

  section.best-sellers .container {
    flex-wrap: wrap;
    justify-content: center;
  }

  section.best-sellers .product-slider .product {
    min-width: 220px;
    margin: 17px 8px;
  }

  section.best-sellers .product-slider .product .product-info .categories {
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 30px;
    margin-bottom: 5px;
  }

  section.best-sellers .product-slider .product .product-info .title {
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 18px;
    margin-bottom: 8px;
  }

  section.best-sellers .product-slider .product .product-info .price {
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 30px;
  }

  section.best-sellers
    .product-slider
    .product
    .product-info
    .price
    .original-price {
    font-size: 9px;
    letter-spacing: 0.23px;
    line-height: 30px;
    display: block;
    line-height: 14px;
  }

  section.best-sellers .product-slider .product .product-info button {
    height: 36px;
    width: 193px;
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 18px;
  }

  section.best-sellers .product-slider .product.new::before {
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.27px;
    padding: 0px 12px;
  }

  section.newsletter {
    width: 100%;
    max-width: 100%;
    padding: 50px 0;
    margin: 50px auto;
  }

  section.newsletter h3 {
    font-size: 22px;
    letter-spacing: 0.55px;
    line-height: 42px;
  }

  section.newsletter p {
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: 42px;
  }

  footer .bottom-nav {
    padding: 50px 0;
  }

  footer .bottom-nav .container {
    max-width: 90%;
  }
}
/* End of Design for Tablets */

/* Start of Design for Mobile Phones */
@media screen and (max-width: 576px) {
  header .logo {
    font-size: 18px;
  }

  header .logo .blue-dot {
    width: 7px;
    height: 7px;
  }

  .hero-content {
    position: static;
  }

  .hero-content h1 {
    color: #000;
    font-size: 32px;
    letter-spacing: 0.8px;
    line-height: 38px;
    text-align: center;
    margin-bottom: 32px;
    margin-top: 27px;
  }

  .hero-content p {
    display: none;
  }

  .hero-content button {
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: 21px;
    width: 196px;
    margin: auto;
  }

  section.best-sellers {
    padding-top: 64px;
  }

  section.best-sellers .product-slider .product {
    width: 82%;
    max-width: 360px;
  }

  section.best-sellers h2 {
    font-size: 36px;
    letter-spacing: 0.6px;
    line-height: 38px;
    margin: 0 0 16px 0;
  }

  section.best-sellers hr {
    border-top: 4px solid #67f11d;
    width: 40px;
  }

  section.best-sellers .product-slider {
    margin-top: 42px;
  }

  section.best-sellers .product-slider .product .product-info .categories {
    margin-bottom: 7px;
  }

  section.best-sellers .product-slider .product .product-info .title {
    font-size: 14px;
    letter-spacing: 0.54px;
    line-height: 18px;
  }

  section.best-sellers .product-slider .product .product-info .price {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
  }

  section.best-sellers
    .product-slider
    .product
    .product-info
    .price
    .original-price {
    font-size: 11px;
    letter-spacing: 0.28px;
    line-height: 20px;
  }

  section.best-sellers .product-slider .product .product-info button {
    height: 36px;
    width: 146px;
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 18px;
  }

  section.newsletter {
    padding: 44px 0;
    margin: 60px auto;
  }

  section.newsletter form input {
    max-width: 65%;
  }

  section.newsletter form button {
    max-width: 35%;
  }

  footer .bottom-nav .container {
    flex-direction: column;
    align-items: center;
  }

  footer .bottom-nav ul {
    text-align: center;
    margin-bottom: 32px;
  }

  footer .bottom-nav ul:last-of-type {
    margin-bottom: 0;
  }
}
/* End of Design for Mobile Phones */
