body {
  margin: 0;
  font-family: "Heebo", sans-serif;
  padding-top: 70px;
}

header {
  background-color: #f2f2f2;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

ul {
  margin: 0;
  padding: 0;
}

.container-head {
  display: flex;
  align-items: center;
  padding: 0 8px;
  justify-content: space-between;
  height: 100%;
}

.logo {
  display: inline-block;
  font-size: 27px;
  margin-left: 115px;
  width: auto;
}

.logo a {
  text-decoration: none;
  color: black;
}

.logo-img {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  right: -1px;
  bottom: 2px;
}

.menu-nav {
  display: inline-block;
  margin-right: 115px;
}

header nav ul li {
  display: inline-block;
}

/* header nav ul li.menu-icon {
  display: none;
}

header nav ul li.menu-icon img {
  vertical-align: middle;
  width: 24px;
  height: auto;
} */

header nav ul li a {
  color: #3e3e3e;
  font-size: 15px;
  letter-spacing: 0.37px;
  margin-right: 24px;
  text-decoration: none;
}

header nav ul li a:hover {
  color: #3e50e5;
}

header nav ul li:last-of-type a {
  margin-right: 0;
}

/* HERO SECTION */

.hero {
  position: relative;
  width: 100%;
  height: 40vw;
}

.slider img {
  filter: blur(0.5px);
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;

  object-fit: cover;

  transition: opacity 800ms;
}

.slider .selected {
  opacity: 1;
}

.hero-content {
  position: absolute;
  top: 150px;
  left: 200px;
  z-index: 0;
}

.container-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.hero-content h1 {
  max-width: 495px;
  color: white;
  font-size: 44px;
  letter-spacing: 1.25px;
  line-height: 56px;
  margin-bottom: 16px;
  margin-top: 0;
  font-weight: bold;
}

.hero-content h1 p {
  max-width: 518px;
  color: white;
  font-weight: 300;
  font-size: 17px;
  letter-spacing: 1.1px;
  line-height: 50px;
  margin-bottom: 12px;
  margin-top: 0;
  margin-left: 5%;
}

.hero-p {
  max-width: 518px;
  color: white;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0.45px;
  line-height: 26px;
  margin-bottom: 12px;
  margin-top: 0;
  margin-left: 1%;
}

.hero-content button {
  height: 50px;
  width: 220px;
  max-width: 100%;
  border-radius: 92px;
  background-color: #4e6e5d;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.35px;
  line-height: 21px;
  text-align: center;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.hero-content button:hover {
  color: black;
  background-color: #e2e8c0;
  border: 1px solid #8896ab;
}

/* ABOUT US*/

.about-us {
  padding-top: 80px;
}

.about-title {
  text-align: center;
  font-size: 34px;
  letter-spacing: 0.85px;
  line-height: 42px;
  font-weight: normal;
  margin: 0 0 14px 0;
}

.about-us hr {
  border: none;
  border-top: 6px solid #d3b88c;
  width: 66px;
}

.container-about {
  display: flex;
  padding: 0 8px;
  width: 1180px;
  max-width: 90%;
  margin: auto;
}

/* ABOUT US FIRST OFFICE/AWARDS PART */
.first-office-img img {
  width: 300px;
  height: 400px;
  text-align: center;
  position: relative;
  margin-right: 10px;
  margin-left: 100px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.first-office-info {
  width: 50%;
  margin: 0 0px;
  padding: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.5px;
  /* right: 300px; */
}

.title-info {
  font-size: 20px;
  letter-spacing: 0.5px;
  text-align: left;
  line-height: 26px;
  margin-bottom: 20px;
  font-weight: normal;
  margin-top: 0;
}

.info-about {
  letter-spacing: 0.5px;
  line-height: 26px;
  margin-bottom: 6px;
  font-weight: lighter;
  text-align: justify;
  font-size: 15px;
  margin: 0 0 14px 0;
}
/* ABOUT US MONTREAL PART */

.montreal-img img {
  /* border: 1px solid #ddd; */
  width: 300px;
  height: 400px;
  text-align: center;
  position: relative;
  margin-left: 200px;
  display: flex;
  justify-content: space-between;
}

.montreal-info {
  border-radius: 8px;
  /* border: 1px solid #ddd; */
  width: 50%;
  text-align: center;
  padding: 40px;
  position: relative;
  left: 200px;
  display: flex;
  flex-direction: column;
}

.montreal-info .title-info {
  text-align: right;
}

/* LEGAL SERVICES */

.legal-services {
  padding-top: 80px;
}

.legal-services h2 {
  text-align: center;
  font-size: 34px;
  letter-spacing: 0.85px;
  line-height: 42px;
  font-weight: normal;
  margin: 0 0 14px 0;
}

.legal-services p {
  text-align: justify;
  font-size: 15px;
  letter-spacing: 0.3px;
  line-height: 21px;
  font-weight: normal;
  margin: 0 0 14px 0;
}

.legal-services hr {
  border: none;
  border-top: 6px solid #d3b88c;
  width: 66px;
}

.legal-services .services-slider {
  margin-top: 76px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-slider {
  display: flex;
  justify-content: space-around;
  padding: 0 8px;
  width: 1180px;
  max-width: 90%;
  margin: auto;
}

.service {
  border-radius: 8px;
  /* border: 1px solid #ddd; */
  width: 25%;
  text-align: center;
  margin: 0 8px;
  padding: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service img {
  max-width: 100%;
}

.service-info {
  margin-top: 30px;
}

.service-info .title {
  font-size: 30px;
  letter-spacing: 0.5px;
  line-height: 26px;
  margin-bottom: 20px;
  font-weight: normal;
  margin-top: 0;
}

.service-info .title-long {
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 30px;
  margin-bottom: 20px;
  font-weight: normal;
  margin-top: 0;
}

.service-info .info {
  letter-spacing: 0.5px;
  line-height: 26px;
  margin-bottom: 6px;
  font-weight: lighter;
}

/* NEWSLETTER SECTION */

.newsletter {
  background-color: rgba(200, 200, 200, 0.18);
  width: 881px;
  max-width: 100%; /* ?  */
  text-align: center;
  padding: 50px 0;
  margin: 70px auto;
}

.newsletter h3 {
  font-size: 22px;
  letter-spacing: 0.55px;
  line-height: 42px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 10px;
}

.newsletter p {
  font-size: 14px;
  letter-spacing: 0.35px;
  line-height: 42px;
  margin-top: 0;
  margin-bottom: 15px;
}

.newsletter form {
  display: flex;
  justify-content: center;
}

.newsletter form input {
  height: 50px;
  width: 326px;
  max-width: 80%;
  box-sizing: border-box;
  border-radius: 60px 0 0 60px;
  border: 1px solid #3e3e3e;
  border-right: none;
  color: #3e3e3e;
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 18px;
  padding-left: 22px;
}

.newsletter form button {
  height: 50px;
  width: 145px;
  max-width: 20%;
  box-sizing: border-box;
  border-radius: 0 60px 60px 0;
  background-color: #3e50e5;
  border: 1px solid #3e50e5;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.newsletter form button:hover {
  color: #3e50e5;
  border: 1px solid #3e50e5;
  background-color: #fff;
  border: 1px solid #3e3e3e;
}

/* FOOTER SECTION */

.bottom-nav {
  padding: 50px 0;
  background-color: #3e3e3e;
}

.container-nav {
  width: 955px;
  max-width: 90%;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding: 0 16px;
}

.bottom-nav ul {
  list-style: none;
}

.bottom-nav ul li a {
  color: white;
  font-size: 14px;
  letter-spacing: 0.35px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 10px;
  text-decoration: none;
  display: block;
}

.bottom-nav ul li a:hover {
  color: #3e50e5;
}

.bottom-nav ul li.list-title {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 12px;
  color: white;
}

.copyright-text {
  color: white;
  background-color: #2b2b2b;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  letter-spacing: 0.35px;
  line-height: 22px;
}
