body {
  margin: 0;
  font-family: "Inter", sans-serif;
  padding-top: 70px;
}

header {
  background-color: #f2f2f2;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

ul {
  margin: 0;
  padding: 0;
}

.container-head {
  display: flex;
  align-items: center;
  padding: 0 8px;
  justify-content: space-between;
  height: 100%;
}

.logo {
  display: inline-block;
  font-size: 24px;
  letter-spacing: -0.5px;
  margin-left: 115px;
  width: auto;
}

.logo a {
  text-decoration: none;
  color: #343a40;
}

.logo-img {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  right: -1px;
  bottom: 2px;
}

.menu-nav {
  display: inline-block;
  margin-right: 115px;
}

header nav ul li {
  display: inline-block;
}

/* header nav ul li.menu-icon {
  display: none;
}

header nav ul li.menu-icon img {
  vertical-align: middle;
  width: 24px;
  height: auto;
} */

header nav ul li a {
  color: #343a40;
  font-size: 15px;
  letter-spacing: 0.37px;
  margin-right: 24px;
  text-decoration: none;
}

header nav ul li a:hover {
  color: rgb(82, 117, 98);
}

header nav ul li:last-of-type a {
  margin-right: 0;
}

/*********************** HERO SECTION ***********************/

.hero {
  position: relative;
  width: 100%;
  height: 40vw;
}

.slider img {
  filter: blur(0.5px);
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 110%;

  object-fit: cover;

  transition: opacity 800ms;
}

.slider .selected {
  opacity: 1;
}

.hero-content {
  position: absolute;
  top: 150px;
  left: 200px;
}

.container-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
}

.container-hero h1 {
  max-width: 495px;
  color: white;
  font-size: 44px;
  letter-spacing: 1.25px;
  line-height: 56px;
  margin-bottom: 16px;
  margin-top: 0;
  font-weight: bold;
}

.container-hero h1 p {
  max-width: 518px;
  color: white;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: -0.5px;
  line-height: 50px;
  margin-bottom: 12px;
  margin-top: 0;
  margin-left: 5%;
}

.hero-p {
  max-width: 518px;
  color: white;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0.45px;
  line-height: 26px;
  margin-bottom: 44px;
  margin-top: 0;
  margin-left: 1%;
}

.container-hero button {
  height: 50px;
  width: 220px;
  max-width: 100%;
  border-radius: 92px;
  background-color: #4e6e5d;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.35px;
  line-height: 21px;
  text-align: center;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.container-hero button:hover {
  color: #fff;
  background-color: rgb(82, 117, 98);
  border: 1px solid rgb(82, 117, 98);
}

/*********************** ABOUT US ***********************/

.about-us {
  padding-top: 150px;
  color: #343a40;
}

.about-title {
  text-align: center;
  font-size: 34px;
  letter-spacing: 0.85px;
  line-height: 42px;
  font-weight: normal;
  margin: 0 0 14px 0;
}

.about-us hr {
  border: none;
  border-top: 6px solid #d3b88c;
  width: 66px;
}

.container-about {
  display: flex;
  padding: 0 8px;
  width: 1180px;
  max-width: 90%;
  margin: auto;
}

.container-about img {
  width: 300px;
  height: 400px;
  text-align: center;
  position: relative;
  margin-right: 10px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.title-info {
  font-size: 20px;
  letter-spacing: 0.5px;
  text-align: left;
  line-height: 26px;
  margin-bottom: 20px;
  font-weight: normal;
  margin-top: 0;
}

.info-about {
  letter-spacing: 0.5px;
  line-height: 26px;
  font-weight: lighter;
  font-size: 15px;
  margin: 0 0 14px 0;
}

/* LEFT ABOUT US PART */

.left-side-info {
  width: 50%;
  margin: 0 0px;
  padding: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.5px;
}

/* ABOUT US MONTREAL PART */

.montreal-img img {
  margin-left: 200px;
}

.montreal-info {
  border-radius: 8px;
  width: 50%;
  text-align: center;
  padding: 40px;
  position: relative;
  left: 200px;
  display: flex;
  flex-direction: column;
}

.montreal-info .title-info {
  text-align: right;
}

/*********************** LEGAL SERVICES ***********************/

.legal-services {
  padding-top: 80px;
  color: #343a40;
}

.legal-services-h2 {
  text-align: center;
  line-height: 42px;
  font-size: 34px;
  letter-spacing: -0.5px;
  font-weight: normal;
  margin: 0 0 14px 0;
}

.legal-services hr {
  border: none;
  border-top: 6px solid #d3b88c;
  width: 66px;
}

.container-service {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
  width: 960px;
  margin: 48px auto;
}

.container-service-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  width: 800px;
  margin: 48px auto;
}

.service-picture {
  width: 32px;
  height: 32px;
  margin-bottom: 16px;
  stroke: #087f5b;
}

.service-info .title {
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 26px;
  margin-bottom: 16px;
  margin-top: 0;
  color: #343a40;
  text-align: left;
}

.service-info .info {
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 26px;
  margin-bottom: 6px;
  font-weight: lighter;
}

/********************** NEWSLETTER SECTION ***********************/
.newsletter {
  background-color: rgba(200, 200, 200, 0.18);
  color: #343a40;
  width: 881px;
  max-width: 100%; /* ?  */
  text-align: center;
  padding: 50px 0;
  margin: 70px auto;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.newsletter h3 {
  font-size: 22px;
  letter-spacing: 0.55px;
  line-height: 42px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 10px;
}

.newsletter p {
  font-size: 14px;
  letter-spacing: 0.35px;
  line-height: 42px;
  margin-top: 0;
  margin-bottom: 15px;
}

.newsletter form {
  display: flex;
  justify-content: center;
}

.newsletter form input {
  height: 50px;
  width: 326px;
  max-width: 80%;
  box-sizing: border-box;
  border-radius: 60px 0 0 60px;
  border: 1px solid #3e3e3e;
  border-right: none;
  color: #3e3e3e;
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 18px;
  padding-left: 22px;
}

.newsletter form button {
  height: 50px;
  width: 145px;
  max-width: 20%;
  box-sizing: border-box;
  border-radius: 0 60px 60px 0;
  background-color: #4e6e5d;
  border: 1px solid #4e6e5d;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.newsletter form button:hover {
  color: #fff;
  border: 1px solid rgb(82, 117, 98);
  background-color: rgb(82, 117, 98);
}

/*********************** FOOTER SECTION ***********************/

.bottom-nav {
  padding: 50px 0;
  background-color: #3e3e3e;
}

.container-nav {
  width: 955px;
  max-width: 90%;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding: 0 16px;
}

.bottom-nav ul {
  list-style: none;
}

.bottom-nav ul li a {
  color: white;
  font-size: 14px;
  letter-spacing: 0.35px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 10px;
  text-decoration: none;
  display: block;
}

.bottom-nav ul li a:hover {
  color: #3e50e5;
}

.bottom-nav ul li.list-title {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 12px;
  color: white;
}

.copyright-text {
  color: white;
  background-color: #2b2b2b;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  letter-spacing: 0.35px;
  line-height: 22px;
}
